# Папки сборки
bin/
obj/
*.user
*.suo
*.pdb
*.cache

# Временные файлы Visual Studio
.vs/
*.userosscache
*.sln.docstates

# Результаты тестов
TestResults/
[Tt]est[Rr]esults*

# Сборки
*.dll
*.exe

# Встроенные установщики, необходимые для сборки OpsCoreControl
!OpsCoreControl/Programs/CryptoPro.exe
!OpsCoreControl/Programs/CryptoProPlugin.exe
!OpsCoreControl/Programs/assistant.exe

# NuGet
packages/
*.nupkg

# Локальные настройки
appsettings.local.json

# Локальные релизные пакеты
artifacts/
